
<div class="footer" id="footer" role="contentinfo">
  <div id="wrapper" class="footer__wrapper"> 
    <div class="footer__about_us">
      <h2 class="footer__site_name">Tracker Pool</h2>
      <p class="footer_description">A site to help anyone submit a Freedom of Information request.
        We also publish and archive requests and responses, building a massive archive of information.
      </p>
    </div>
    <div class="footer__pages">
        <ul>
          <li>
          <%= link_to _("Make a request") %>
          </li>
          <li>
          <%= link_to _("Browse requests") %>
          </li>
          <li>
          <%= link_to _("View authorities") %>
          </li>
          <li>
          <%= link_to _("Help") %>
          </li>
        </ul>
    </div>
  </div>
</div>